@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.container {
  background-image: url(./assets/img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh;
  position: relative;
  padding: 100px 0 0 0;
}

.container h1 {
  color: white;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

.map-container {
  width: 100vw;
  height: 60vh;
}

.input-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

.input-container input {
  padding: 0 24px;
  border-radius: 15px;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 16px;
  color: rgb(113, 113, 113);
}

.input-container input::placeholder {
  font-size: 16px;
}

.input-container input:focus {
  outline: 0;
  color: black;
}

.input-container button {
  border: none;
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: black;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 200ms ease;
}

.input-container button:hover {
  background-color: #3f3f3f;
}

/* -------------INFO---------------- */

.info-container {
  width: 70%;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  padding: 38px 20px;
}

.info-container div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
}

.info-container div + div {
  border-left: 1px solid #979797;
  padding: 0 30px;
}

.info-container .info-title {
  color: #2c2c2c;
  opacity: 0.8;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
}

.info-container .info-body {
  font-size: 24px;
  font-weight: bold;
  color: #2c2c2c;
}

.loading {
  font-size: 20px;
  text-align: center;
  margin-top: 200px;
  font-style: italic;
}

.not-found {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  font-style: italic;
  position: relative;
  animation: bounce 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

@keyframes bounce {
  0% {
    top: 0;
  }
  100% {
    top: 10px;
  }
}

@media (max-width: 1200px) {
  .input-container {
    width: 50%;
  }

  .info-container {
    width: 80%;
    gap: 15px;
  }

  .info-container .info-body {
    font-size: 20px;
  }
}

@media (max-width: 860px) {
  .container {
    padding: 60px 0 0 0;
  }

  .info-container {
    padding: 15px;
  }

  .info-container .info-body {
    font-size: 16px;
  }

  .info-container div + div {
    border: none;
    padding: 0 30px;
  }

  .info-container div + div {
    border-left: 1px solid rgb(155, 155, 155);
    padding: 0 30px;
  }

  .not-found {
    font-size: 32px;
  }
}

@media (max-width: 670px) {
  .container {
    height: 25vh;
    padding: 30px 0 0 0;
  }

  .info-container {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 85%;
  }

  .input-container {
    width: 200px;
    width: 85%;
  }

  .info-container div {
    align-items: center;
    width: 100%;
    gap: 5px;
  }

  .info-container .info-title {
    font-size: 10px;
    letter-spacing: 1px;
  }

  .info-container .info-body {
    font-size: 16px;
    text-align: center;
  }

  .info-container div + div {
    border: none;
    padding: 0 30px;
  }

  .not-found {
    font-size: 20px;
    text-align: center;
  }
}
